<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
  <ul>
    <li>
  <%= link_to restaurant.name, restaurant_path(restaurant) %> <br>
<%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %> <br>
<%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %>
<%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %>
<% @reviews = Review.where(:restaurant_id=>restaurant.id) %>
    <% if @reviews.any? %>
      <br>Reviews<br>
      <% @reviews.each do |review| %>
        Thoughts: <%= review.thoughts %><br>
        Rating: <%= review.rating %><br>
      <% end %>
    <% end %>
    </li>
  </ul>
  <% end %>

<% else %>
  <h1>No restaurants yet</h1>
<% end %>

<a href="restaurants/new">Add a restaurant</a>
